
@font-face {
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*, a {
  font-family: 'BMJUA';
}

#root{
  max-width : 500px;
  margin : 0 auto;

}



.App-bg{
  width : 100%;
  height : calc(100% - 50px);
  height : calc(100%);
  /* background-color: #FFCED2; */
  position : fixed;
  left : 0;
  top : 0;
  z-index : -9999;
}

.App-bg img{
  width : 50%;
  max-width : 300px;
  position : absolute;
  top : calc(35% + 50px);
  left : 50%;
  transform : translateX(-50%);
}